extends layout

block content
	h1 API Basejump: Timestamp microservice
   
	h3 Example usage:

	code https://timestamp-ms.herokuapp.com/December%2015,%202015

	code https://timestamp-ms.herokuapp.com/1450137600

	h3 Example output:

	code { "unix": 1450137600, "natural": "December 15, 2015" }
                
